@import 'colors';

input[type="checkbox"] {
  display: none;

  + label {
    cursor: pointer;
    position: relative;

    &::before {
      background-color: $color0;
      border: solid 1px $color4;
      border-radius: 1pt;
      content: '';
      display: inline-block;
      height: 1em;
      margin-right: 0.25em;
      text-align: right;
      vertical-align: middle;
      width: 1em;
    }

    &:hover {
      &::before {
        background-color: darken($color0, 5%);
      }
    }
  }

  &:checked + label {
    &::after {
      content: '✔';
      font-family: "Lucida Console", monospace;
      left: 0;
      line-height: 1.4em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.1em;
    }
  }

  &.delete {
    + label {
      color: $color1;
    }

    &:checked + label {
      &::before {
        background-color: $color1;
      }

      &::after {
        color: $color0;
        content: '✖';
      }
    }
  }
}
