@import 'colors';

input[type="checkbox"] {
  display: none;
  + label {
    position: relative;
    cursor: pointer;
    &::before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      background-color: $color0;
      width: 1em;
      height: 1em;
      border: solid 1px $color4;
      text-align: right;
      margin-right: 0.25em;
      border-radius: 1pt;
    }
    &:hover {
      &::before {
        background-color: darken($color0, 5%);
      }
    }
  }
  &:checked + label {
    &:after {
      font-family: "Lucida Console", monospace;
      content: '✔';
      text-align: center;
      position: absolute;
      width: 1.1em;
      line-height: 1.4em;
      left: 0;
      top: 0;
    }
  }
  &.delete {
    + label {
      color: $color1;
    }
    &:checked + label {
      &:before {
        background-color: $color1;
      }
      &:after {
        color: $color0;
        content: '✖';
      }
    }
  }
}
