$color-base: #FFF;

$color0: #F7F9FA;
$color1: #DF151A;
$color2: #4F57AA;
$color3: #72818B;
$color4: #454857;
$color5: #020303;

$color-done: #00CBE7;
$color-in-progress: #00DA3C;
$color-in-review: #F4F328;
$color-blocked: #DF151A;
$color-sprint: #020303;
$color-backlog: #454857;
