@import 'colors';

fieldset.details {
  border: none;
  > * { max-height: 0; transition: max-height 250ms ease-in-out; }
  legend {
    cursor: pointer;
    &::before {
      transition: transform 250ms ease-in-out;
      display: inline-block;
      content: '\25B6';
      margin-right: 0.5em;
      line-height: 1em;
    }
    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
      &::before {
        transform: translate(1pt, 0);
      }
    }
    &:active {
      &::before {
        text-shadow: none;
      }
    }
  }
  &.open {
    > * { max-height: 100%; }
    legend {
      text-shadow: none;
      &::before {
        transform: rotate(90deg);
        text-shadow: none;
      }
    }
    legend::after { display: none; }
  }
}
