@import 'colors';

#__pm__panel {
  ul.tiles {
    margin: 0 5pt;
    font-size: 0.8em;
    list-style-type: none;
    padding: 0;
    float: left;
    width: 115pt;
    overflow-y: auto;
    height: 100%;
    line-height: 1.25em;
  }

  ul.tiles header {
    width: 100pt;
    font-weight: bold;
    background-color: $color0;
    position: fixed;
    line-height: 2em;
    margin: 0 5pt 5pt;
    top: 0px;
    &:after {
      content: '';
      width: 15pt;
      height: 100%;
      display: block;
      position: fixed;
      top: 0;
      left: 100%;
      background-color: $color0;
    }
    & + * {
      margin-top: 2.5em;
    }
  }

  ul.tiles li {
    padding-bottom: 1em;
    width: 100pt;

    > div {
      cursor: pointer;
      width: 100pt;
      height: 100pt;
      background-color: $color0;
      box-shadow: 2pt 2pt 2pt rgba(128,128,128,0.5);
      border: solid 1px darken($white, 20%);
      border-radius: 3pt;
      padding: 0 5pt 0 1em;
      margin: 0;
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0pt 0pt $white;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;

      &:focus {
        border-color: $color2;
        margin-top: -0.1em;
        margin-bottom: 0.1em;
        background-color: $white;
        box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0pt 0pt $color3;
        outline: none;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0; height: 50%;
        left: 5pt; right: 0;
        background: rgba(255,255,255,0.5);
        background: -webkit-linear-gradient(top, rgba($color0,0), rgba($color0,1));
        background:         linear-gradient(top, rgba($color0,0), rgba($color0,1));
      }

      strong {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 2em;
        border-bottom: dotted 1px darken($white, 20%);
        margin-bottom: 0.5em;
      }
    }

    .tiles__tile--head {
      border-color: $color2;
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 0pt -3pt 0pt $color2;
    }

    .remote {
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 0pt -3pt 0pt $color1;
      height: 5em;
    }

    .selected {
      border-color: $color2;
      margin-top: -0.1em;
      margin-bottom: 0.1em;
      background-color: $white;
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0pt 0pt lighten($color3, 20%);
    }

    .task--status-blocked {
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0pt 0pt darken($color1, 5%);

      &.selected {
        border-color: $color1;
        box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0pt 0pt $color1;
      }
    }

    .task--status-done {
        height: 5.5em;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAADklEQVQImWNgQAAp3AwABaMAT0kwJI8AAAAASUVORK5CYII=);
        box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0 0pt rgba($color3, 0.75);

        &.selected {
            box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0 0pt $color3;
        }
    }

    .task__property--description {
      white-space: pre-wrap;
    }
  }

  .droppable {
    height: 150pt;
  }

  .droppable::after {
    color: $color3;
    content: '';
    position: absolute;
    border: solid $color0 0.5em;
    opacity: 0.25;
    width: calc(100pt - 3em);
    height: calc(50pt - 3em);
    margin: 1em;
  }

  .droppable > * {
    background-color: $color4;
    pointer-events: none;
  }

  .dropped {
    margin-top: 110pt;
    transition: margin-top 250ms;
  }

  .dropped::after {
    display: none;
  }
}
