@import 'colors';

#__pm__panel {

  header {
    background-color: $color0;
    font-weight: 400;
    line-height: 2em;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    button {
      width: calc(100% - 5pt);
      border: solid darken($color0, 5%) 1pt;
    }

    &:after {
      background-color: $color0;
      content: '';
      display: block;
      height: 100%;
      left: 100%;
      position: fixed;
      top: 0;
      width: 15pt;
    }
  }

  //.tasks--status-in-progress {
  //  header button {
  //    background-color: $color-in-progress;
  //    box-shadow: inset 0 1em 0.15em lighten($color-in-progress, 3%);
  //    border: solid 1px darken($color-in-progress, 5%);
  //  }
  //}

  //.tasks--status-in-review {
  //  header button {
  //    background-color: $color-in-review;
  //    box-shadow: inset 0 1em 0.15em lighten($color-in-review, 20%);
  //    border: solid 1px darken($color-in-review, 10%);
  //  }
  //}

  //.tasks--status-blocked {
  //  header button {
  //    background-color: $color-blocked;
  //    box-shadow: inset 0 1em 0.15em lighten($color-blocked, 10%);
  //    border: solid 1px darken($color-blocked, 10%);
  //    color: $color-base;
  //  }
  //}

  //.tasks--status-done {
  //  header button {
  //    background-color: $color-done;
  //    box-shadow: inset 0 1em 0.15em lighten($color-done, 10%);
  //    border: solid 1px darken($color-done, 5%);
  //  }
  //}

  //.tasks--backlog {
  //  header button {
  //    background-color: $color-backlog;
  //    box-shadow: inset 0 1em 0.15em lighten($color-backlog, 3%);
  //    border: solid 1px darken($color-backlog, 5%);
  //    color: $color-base;
  //  }
  //}

}

#__pm__panel {
  ul.list {
    float: left;
    font-size: 0.8em;
    list-style-type: none;
    margin: 0;
    padding: 3em 5pt 5pt;
    width: 33%;

    header {
      width: calc(33% - 5pt);
    }

    .task {
      background-color: $color-base;
      border: solid darken($color-base, 25%) 1pt;
      margin-top: 1pt;
      padding: 0 5pt;
      overflow: auto;

      &:focus,
      &.selected {
        border-color: $color2;
        box-shadow: inset 3pt 0 0 $color3;
        outline: none;
      }
    }

    .task__property--description {
      float: left;
      width: calc(100% - 7em);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .task__property--estimate {
      background-color: $color3;
      border-radius: 50%;
      color: $color0;
      font-weight: bold;
      height: 2em;
      line-height: 2em;
      margin-top: 0.25em;
      text-align: center;
      width: 2em;
      float: right;
    }

    .task__name {
      font-weight: bold;
      width: 5em;
      float: left;
    }
  }
}

#__pm__panel {
  ul.tiles {
    float: left;
    font-size: 0.8em;
    height: 100%;
    line-height: 1.25em;
    list-style-type: none;
    margin: 0 5pt;
    overflow-y: auto;
    padding: 3.25em 0 0;
    width: 115pt;

    header {
      width: 105pt;
    }
  }

  ul.tiles .column {
    height: 100%;

    &.droppable {
      header button {
        box-shadow: inset 0 0.5em 0.15em rgba($color-base, 0.5);
      }
    }
  }

  ul.tiles li.tile {
    padding-bottom: 1em;
    width: 100pt;

    &::before {
      content: '';
      min-height: 0;
      transition: min-height 250ms;
    }

    &.droppable::before {
      display: block;
      min-height: 108pt;
    }

    .task {
      cursor: pointer;
      width: 100pt;
      height: 100pt;
      background-color: $color0;
      border: solid 1px darken($color-base, 20%);
      border-radius: 3pt;
      padding: 0 5pt 0 calc(1em + 5pt);
      margin: 0;
      box-shadow: inset 3pt 0pt 0pt $color-base;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAADklEQVQImWNgQAAp3AwABaMAT0kwJI8AAAAASUVORK5CYII=);

      &:focus,
      &.selected {
        border-color: $color3;
        margin-top: -1pt;
        margin-bottom: 1pt;
        background-color: $color-base;
        box-shadow: inset 3pt 0pt 0pt $color3;
        outline: none;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0; height: 50%;
        left: 8pt; right: 0;
        background: rgba($color-base,0.5);
        background: -webkit-linear-gradient(top, rgba($color-base,0), rgba($color-base,0.75));
        background:         linear-gradient(top, rgba($color-base,0), rgba($color-base,0.75));
      }
    }

    &.tile--status-done.droppable,
    &.tile--status-sprint.droppable {
      &::before {
        min-height: 53pt;
      }
    }

    &.tile--status-done > .task,
    &.tile--status-sprint > .task {
      height: 45pt;
    }

    &.tile--status-sprint > .task {
      box-shadow: inset 6pt 0 0 $color-sprint,      inset calc(6pt + 1px) 0 0 darken($color-sprint, 10%);
    }

    &.tile--status-in-progress > .task {
      box-shadow: inset 6pt 0 0 $color-in-progress, inset calc(6pt + 1px) 0 0 darken($color-in-progress, 10%);
    }

    &.tile--status-in-review > .task {
      box-shadow: inset 6pt 0 0 $color-in-review,   inset calc(6pt + 1px) 0 0 darken($color-in-review, 10%);
    }

    &.tile--status-blocked > .task {
      box-shadow: inset 6pt 0 0 $color-blocked,     inset calc(6pt + 1px) 0 0 darken($color-blocked, 10%);
    }

    &.tile--status-done > .task {
      box-shadow: inset 6pt 0 0 $color-done,        inset calc(6pt + 1px) 0 0 darken($color-done, 10%);
    }

    .task__name {
      font-weight: bold;
      font-size: 1.1em;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 2em;
      border-bottom: dotted 1px darken($color-base, 20%);
      margin-bottom: 0.5em;
      letter-spacing: 0.1em;
    }

    .task__property--description {
      white-space: pre-wrap;
    }

    .task__property--estimate {
      font-size: 0.9em;
      background-color: $color3;
      border-radius: 2pt;
      color: $color0;
      position: absolute;
      right: 0.5em;
      top: 0.5em;
      z-index: 1;
      width: 2em;
      height: 1.5em;
      font-weight: bold;
      line-height: 1.5em;
      text-align: center;
    }
  }

}
