@import 'colors';

#__pm__panel {
  ul.tiles {
    margin: 0 5pt;
    font-size: 0.8em;
    list-style-type: none;
    padding: 0;
    float: left;
    width: 115pt;
    overflow-y: auto;
    height: 100%;
    line-height: 2em;
  }
  ul.tiles header {
    font-weight: bold;
    border-bottom: solid $color4 1pt;
    margin: 0 0 5pt 0;
    width: 100pt;
    background-color: $color0;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    &:after {
      content: '';
      width: 15pt;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      background-color: $color0;
    }
  }
  ul.tiles li {
    padding-bottom: 1em;
    width: 100pt;
    > div {
      cursor: pointer;
      width: 100pt;
      height: 100pt;
      background-color: #F5F5F5;
      box-shadow: 2pt 2pt 2pt rgba(128,128,128,0.5);
      border: solid 1px $color4;
      border-radius: 3pt;
      padding: 0 5pt;
      margin: 0;

      strong {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }
    .tiles__tile--head {
      border-color: $color2;
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 0pt -3pt 0pt $color2;
    }
    .remote {
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 0pt -3pt 0pt $color1;
      height: 5em;
    }
    .selected {
      border-color: $color2;
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 0pt -3pt 0pt $color2;
    }
  }
  .droppable > * {
    background-color: $color4;
    pointer-events: none;
  }
  .droppable::after {
    content: '▿';
    width: 100pt;
    height: 100pt;
    font-size: 100pt;
    line-height: 100pt;
    border-radius: 5pt;
    text-align: center;
    display: block;
    opacity: 0.5;
    margin-top: 10pt;
    background-color: $color3;
  }
  .dropped {
    transition: margin-top 250ms;
    margin-top: 110pt;
  }
  .dropped::after {
    display: none;
  }
}
