@import 'colors';


#__pm__panel {
  header {
    margin: 0 10pt;
    font-weight: 400;
    font-weight: bold;
    background-color: $color0;
    position: fixed;
    line-height: 2em;
    margin: 0;
    width: 100%;
    top: 0px;
    z-index: 1;

    button {
      width: calc(100% - 5pt);
      border: none;
    }

    &:after {
      content: '';
      width: 15pt;
      height: 100%;
      display: block;
      position: fixed;
      top: 0;
      left: 100%;
      background-color: $color0;
    }
  }
}


#__pm__panel {
  ul.list {
    font-size: 0.8em;
    list-style-type: none;
    margin: 0;
    padding: 2.75em 5pt 5pt;
    width: 67%;
    header {
      width: calc(67% - 5pt);
    }

    .task {
      display: flex;
      margin-top: 1pt;
      background-color: $white;
      border: solid darken($white, 25%) 1pt;
      padding: 0 5pt;

      &:focus, &.selected {
        border-color: $color2;
        box-shadow: inset 3pt 0pt 0pt $color3;
        outline: none;
      }
    }

    .task__property--description {
      flex-grow: 1;
    }

    .task__property--estimate {
      background-color: $color3;
      color: $color0;
      border-radius: 50%;
      width: 2em;
      height: 2em;
      font-weight: bold;
      line-height: 2em;
      text-align: center;
      margin-top: 0.25em
    }

    .task--name {
      font-weight: bold;
      width: 100pt;
    }
  }
}

#__pm__panel {
  ul.tiles {
    font-size: 0.8em;
    margin: 0 5pt;
    list-style-type: none;
    padding: 3.25em 0 0 0;
    float: left;
    width: 115pt;
    overflow-y: auto;
    height: 100%;
    line-height: 1.25em;
    header {
      width: 105pt;
    }
  }

  ul.tiles li {
    padding-bottom: 1em;
    width: 100pt;

    .task {
      cursor: pointer;
      width: 100pt;
      height: 100pt;
      background-color: $color0;
      box-shadow: 2pt 2pt 2pt rgba(128,128,128,0.5);
      border: solid 1px darken($white, 20%);
      border-radius: 3pt;
      padding: 0 5pt 0 1em;
      margin: 0;
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0pt 0pt $white;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;

      &:focus, &.selected {
        border-color: $color2;
        margin-top: -0.1em;
        margin-bottom: 0.1em;
        background-color: $white;
        box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0pt 0pt $color3;
        outline: none;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0; height: 50%;
        left: 5pt; right: 0;
        background: rgba(255,255,255,0.5);
        background: -webkit-linear-gradient(top, rgba($color0,0), rgba($color0,1));
        background:         linear-gradient(top, rgba($color0,0), rgba($color0,1));
      }
    }

    .tiles__tile--head {
      border-color: $color2;
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 0pt -3pt 0pt $color2;
    }

    .remote {
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 0pt -3pt 0pt $color1;
      height: 5em;
    }

    .task--status-blocked {
      box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0pt 0pt darken($color1, 5%);

      &.selected {
        border-color: $color1;
        box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0pt 0pt $color1;
      }
    }

    .task--status-done {
        height: 5.5em;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAADklEQVQImWNgQAAp3AwABaMAT0kwJI8AAAAASUVORK5CYII=);
        box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0 0pt rgba($color3, 0.75);

        &.selected {
            box-shadow: 3pt 3pt 3pt rgba(128,128,128,0.5), inset 3pt 0 0pt $color3;
        }
    }

    .task--name {
      font-weight: bold;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 2em;
      border-bottom: dotted 1px darken($white, 20%);
      margin-bottom: 0.5em;
    }

    .task__property--description {
      white-space: pre-wrap;
    }

    .task__property--estimate {
      background-color: $color3;
      color: $color0;
      border-radius: 50%;
      position: absolute;
      right: 5pt;
      bottom: 5pt;
      z-index: 1;
      width: 2em;
      height: 2em;
      font-weight: bold;
      line-height: 2em;
      text-align: center;
    }
  }

  .droppable {
    margin: 0;
    &::after {
      content: '';
      display: block;
      height: 90pt;
      width: 100pt;
      margin: 0.7em 0 0 0;
      background-color: darken($color0, 10%);
      border-radius: 3pt;
    }
  }

  .droppable > * {
  }

  .dropped {
    margin-top: 110pt;
    transition: margin-top 250ms;
  }

  .dropped::after {
    display: none;
  }
}
