@import 'colors';

$r: 0.4em;
.token {
    > span {
        color: white;
        background-color: $color3;
        font-size: 0.85em;
        line-height: 1em;
        padding: 0.2em 0.5em;
        text-shadow: 0 0 1pt darken($color3, 50%);
        border: solid $color4 1pt;
        border-width: 1pt 0;
        vertical-align: 15%;
    }
    > span:first-child {
        border-radius: $r 0 0 $r;
        border-width: 1pt 0 1pt 1pt;
    }
    > span:last-child {
        border-radius: 0 $r $r 0;
        border-width: 1pt 1pt 1pt 0;
    }
    .token--positive {
        background-color: $color2;
        text-shadow: 0 0 1pt darken($color2, 50%);
    }
    .token--negative {
        background-color: $color1;
        text-shadow: 0 0 1pt darken($color1, 50%);
    }
    .token--neutral {
        background-color: $color4;
        text-shadow: 0 0 1pt darken($color4, 50%);
        color: darken(white, 25%);
    }

}
